<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.typekit.net/kio1mzi.css">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="shortcut icon" type="image/png" href="/img/site/favicon.png" />
    <title>TEAM NAME</title>
</head>
<body>
    <nav id="navbar" class="navigation fixed-top">
        <div class="navigation__logospace">
            <a href='#'><img class="navigation__brand" src="./img/foo.png">  </a>
        </div>
        <button class="navigation__toggler" type="button" data-toggle="navigation__collapse" data-target="#navigation-items" aria-controls="navigation-items" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navigation__toggler-icon"></span>
        </button>
    
        <div class="navigation__collapse" id="navbar-items">
            <ul class="navigation__link-list">
                <li class="navigation__item"><div id="nav-news-border" class="navigation__link-border"><a class="navigation__link" href="/news">NEWS</a></div></li>
                <li class="navigation__item"><div id="nav-squads-border" class="navigation__link-border"><a class="navigation__link" href="/squads">SQUADS</a></div></li>
                <li class="navigation__item"><div id="nav-sponsors-border" class="navigation__link-border"><a class="navigation__link" href="/sponsors">SPONSORS</a></div></li>
                <li class="navigation__item"><div id="nav-about-border" class="navigation__link-border"><a class="navigation__link" href="/about">ABOUT</a></div></li>
            </ul>
        </div>
    </nav>