<% include ./partials/header.ejs %>

<section class="content">
        <div class="landing-wrapper text-white">
            <div class="row justify-content-center">
                <div class="col-lg col-md col-sm">
                </div>
                <div class="d-flex justify-content-center col-lg-4 col-md-8 col-sm-8">
                    <div class="landing-welcome-wrapper">
                        <h4>[SOMETHING] GAMING</h4>
                        <h2>Welcome.</h2>
                        <hr>
                        <p>This website is an exercise.</p>
                    </div>
                </div>
                <div class="lcol-lg col-md col-sm">
                </div>
            </div>

            <div class="landing-bottom-stripes"><img class="landing-bottom-stripes-img" src="../img/site/landing-bottom-stripes.png"></div>
        </div>
        <div class="container-fluid">
            <div class="row landing-content-wrapper justify-content-center">
                <div class="col-lg col-md d-sm-none"></div>

                <div class="col-lg-10 col-md col-sm">
                    <div class="landing-gallery-header">Make a selection below to start browsing:</div>
                    <div class="d-flex row justify-content-center py-3">
                        <a class="flex-column btn landing-gallery-button" href="/projects">
                            <i class="fas fa-object-group landing-gallery-button-icon"></i>
                            <span class="landing-gallery-button-text">PROJECTS</span>
                        </a>
                        <a class="flex-column btn landing-gallery-button-alt" href="/illustration">
                            <i class="fas fa-pencil-ruler landing-gallery-button-icon"></i>
                            <span class="landing-gallery-button-text">ILLUSTRATION</span>
                        </a>
                        <a class="flex-column btn landing-gallery-button" href="/photography">
                            <i class="fas fa-camera-retro landing-gallery-button-icon"></i>
                            <span class="landing-gallery-button-text">PHOTOGRAPHY</span>
                        </a>
                        <a class="flex-column btn landing-gallery-button-alt" href="/webapps">
                            <i class="fab fa-node-js landing-gallery-button-icon"></i>
                            <span class="landing-gallery-button-text">WEB APPS</span>
                        </a>
                        <a class="flex-column btn landing-gallery-button" href="/digital">
                            <i class="fas fa-desktop landing-gallery-button-icon"></i>
                            <span class="landing-gallery-button-text">DIGITAL</span>
                        </a>
                    </div>
                </div>

                <div class="col-lg col-md d-sm-none"></div>
            </div>
        </div>
</section>

<% include ./partials/footer.ejs %>