<%- include('./partials/header.ejs') %>

<section class="container-fluid content">
    <div class="row justify-content-around">
        <div class="col-lg col-md"></div>
        <div class="col-lg-6 col-md-6"> 
            <div class="d-flex flex-column">
                <div class="card input-card">
                    <h3 class="card-header input-card-title">Register Account</h3>
                    <div class="card-body">
                        <form action="/register" method="POST">
                            <h5 class="input-card-subtitle">Username</h5>
                            <div class="input-group mb-3">
                                <input type="text" name="username" class="form-control" placeholder="">
                            </div>
                            <h5 class="input-card-subtitle">Password</h5>
                            <div class="input-group mb-3">
                                <input type="password" name="password" class="form-control" placeholder="">
                            </div>
                            <input class="btn input-card-button" type="submit" value="Register New Account">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg col-md"></div>
    </div>
</section>

<%- include('./partials/footer.ejs') %>